/*
//**************************************************************************
// 
//  Библиотека CSS для направлений блоков flex
// 
//***************************************************************************
*/


/*
//===========================================================================
//
// Горизонтальное расположение
//
//===========================================================================
*/


/* Располагает все дочерние элементы внутри родителя по горизонтали. 
По умолчанию все элементы прижаты к левому краю */

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/* Центр по Y */

.horizontal.middle {
    align-items: center;
}


/* Центр по X */

.horizontal.center {
    justify-content: center;
}


/* Растягивает все дочерние элементы по всей центральной области родительского элемента */

.horizontal.around {
    justify-content: space-around;
}


/* Растягивает все дочерние элементы по всей области родительского элемента */

.horizontal.between {
    justify-content: space-between;
}


/* Выравнивает все элементы по началу строки */

.horizontal.text-line {
    align-items: baseline;
}


/* Все дочерние элементы прижаты к правому краю */

.horizontal.to-right {
    justify-content: flex-end;
}


/*
//===========================================================================
//
// Вертикальное расположение
//
//===========================================================================
*/


/* Располагает все дочерние элементы внутри родителя по вертикали.
По умолчанию все элементы прижаты к верней части родительского элемента */

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* Располагает все дочерние элементы в центре по оси Y, если дочерний элемент не один */

.vertical.middle:not(:only-child) {
    align-items: center;
}


/* Расположение: растягивает все дочерние элементы по всей области родительского элемента */

.vertical.betweem {
    flex-direction: column;
    justify-content: space-between;
}


/* прижат к низу */

.vertical.bottom {
    justify-content: flex-end;
}


/* правый верхний угол */

.vertical.top-right {
    justify-content: flex-start;
    align-items: flex-end;
}


/* Все дочерние элементы прижаты к верней части родительского элемента и прижаты к левой части родительского элемента */

.vertical.left-top {
    justify-content: flex-start;
    align-items: flex-start;
}


/* Растягивает на весь родительский элемент */

.vertical.list-form,
.horizontal.list-form {
    height: 100%;
    width: 100%;
}


/* Пока под вопросом
=> У всех дочерних элементов, кроме послежнего, есть отступ на 7 пикселей вниз.
.vertical>*:not(:last-child) {
margin-bottom: 7px;
}
*/


/* Пока под вопросом
=> Все дочерные элементы принимают Расположение по вертикали, а display flex 
.vertical>* {
  display: flex;
  flex-direction: column;
  }
*/


/*
Все элементы кроме последнего в блоке отступ снизу 13px 
.vertical>*:not(:last-child) {
  margin-bottom: 12px ;
  }
*/


/*
//===========================================================================
//
// Мультистили, множественное применение
//
//===========================================================================
*/


/* Расположение: по центру */

.horizontal.center-all,
.vertical.center-all {
    justify-content: center;
    align-items: center;
}