/* RIGHT SPACE */

.mui-space_right-0 {
    margin-right: 0;
}

.mui-space_right-1 {
    margin-right: 4px;
}

.mui-space_right-2 {
    margin-right: 8px;
}

.mui-space_right-3 {
    margin-right: 12px;
}

.mui-space_right-4 {
    margin-right: 16px;
}

.mui-space_right-5 {
    margin-right: 20px;
}

.mui-space_right-6 {
    margin-right: 24px;
}

.mui-space_right-7 {
    margin-right: 28px;
}

.mui-space_right-8 {
    margin-right: 32px;
}

.mui-space_right-9 {
    margin-right: 36px;
}

.mui-space_right-10 {
    margin-right: 40px;
}


/* LEFT SPACE */

.mui-space_left-0 {
    margin-left: 0;
}

.mui-space_left-1 {
    margin-left: 4px;
}

.mui-space_left-2 {
    margin-left: 8px;
}

.mui-space_left-3 {
    margin-left: 12px;
}

.mui-space_left-4 {
    margin-left: 16px;
}

.mui-space_left-5 {
    margin-left: 20px;
}

.mui-space_left-6 {
    margin-left: 24px;
}

.mui-space_left-7 {
    margin-left: 28px;
}

.mui-space_left-8 {
    margin-left: 32px;
}

.mui-space_left-9 {
    margin-left: 36px;
}

.mui-space_left-10 {
    margin-left: 40px;
}


/* BOTTOM SPACE */

.mui-space_bottom-0 {
    margin-bottom: 0;
}

.mui-space_bottom-1 {
    margin-bottom: 4px;
}

.mui-space_bottom-2 {
    margin-bottom: 8px;
}

.mui-space_bottom-3 {
    margin-bottom: 12px;
}

.mui-space_bottom-4 {
    margin-bottom: 16px;
}

.mui-space_bottom-5 {
    margin-bottom: 20px;
}

.mui-space_bottom-6 {
    margin-bottom: 24px;
}

.mui-space_bottom-7 {
    margin-bottom: 28px;
}

.mui-space_bottom-8 {
    margin-bottom: 32px;
}

.mui-space_bottom-9 {
    margin-bottom: 36px;
}

.mui-space_bottom-10 {
    margin-bottom: 40px;
}


/* TOP SPACE */

.mui-space_top-0 {
    margin-top: 0;
}

.mui-space_top-1 {
    margin-top: 4px;
}

.mui-space_top-2 {
    margin-top: 8px;
}

.mui-space_top-3 {
    margin-top: 12px;
}

.mui-space_top-4 {
    margin-top: 16px;
}

.mui-space_top-5 {
    margin-top: 20px;
}

.mui-space_top-6 {
    margin-top: 24px;
}

.mui-space_top-7 {
    margin-top: 28px;
}

.mui-space_top-8 {
    margin-top: 32px;
}

.mui-space_top-9 {
    margin-top: 36px;
}

.mui-space_top-10 {
    margin-top: 40px;
}
